APP_NAME=distribui-docs

DB_HOST=localhost
DB_PORT=3307
DB_NAME=sebrae_prev_distribui_docs
DB_USER=root
DB_PASSWORD=
DB_ECHO=false

# Arquivos
FILES_DIR_PATH=

# Email
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=nao-responda@sebraeprev.com.br
MAIL_FROM_NAME=Distribui Docs

MAIL_SENDING_DISABLED=True

MAIL_REDIRECT_ALL_TO=

MAIL_MAX_ATTACHMENT_MB=20
